.pho{
    width: auto;
    background-image: url(pho1.webp);
    background-size: cover;
    /* z-index: -1; */
    /* position: absolute; */
   
    
}
.back{
    /* height: 100%; */
    box-shadow: -4px -4px 4px rgba(36, 37, 35, 0.363);
    /* background-color: rgba(117, 119, 113, 0.363); */
}
.card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.photo{
    height: 300px;
    
}
.phoo{
    height: 200px;
}
.best{
    background-color: rgba(254, 255, 255, 0.636);
}
.card{
    transition: 0px 20px blue width2s;
}
.card:hover{
    cursor: pointer;
    transform: scale(0.87)
}